[submodule "comment"]
	path = comment
	url = https://github.com/jnow-87/vim-comment.git
	branch = master
[submodule "config"]
	path = config
	url = https://github.com/jnow-87/vim-config.git
	branch = master
[submodule "fastcp"]
	path = fastcp
	url = https://github.com/jnow-87/vim-fastcp.git
	branch = master
[submodule "fold"]
	path = fold
	url = https://github.com/jnow-87/vim-fold.git
	branch = master
[submodule "make"]
	path = make
	url = https://github.com/jnow-87/vim-make.git
	branch = master
[submodule "scratch"]
	path = scratch
	url = https://github.com/jnow-87/vim-scratch.git
	branch = master
[submodule "tagcomplete"]
	path = tagcomplete
	url = https://github.com/jnow-87/vim-tagcomplete.git
	branch = master
[submodule "taglist"]
	path = taglist
	url = https://github.com/jnow-87/vim-taglist.git
	branch = jnow-87
[submodule "clang_complete"]
	path = clang_complete
	url = https://github.com/jnow-87/vim-clang-complete.git
	branch = jnow-87
[submodule "xterm-color-table"]
	path = xterm-color-table
	url = https://github.com/jnow-87/vim-xterm-color-table
	branch = jnow-87
[submodule "airline"]
	path = airline
	url = https://github.com/bling/vim-airline.git
	branch = master
[submodule "gtd"]
	path = gtd
	url = https://github.com/jnow-87/vim-gtd.git
	branch = master
[submodule "util"]
	path = util
	url = https://github.com/jnow-87/vim-util.git
	branch = master
[submodule "airline-themes"]
	path = airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
	branch = master
